*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/568/016/original/abstract-gradient-background-with-red-and-blue-color-suitable-for-cyber-theme-free-vector.jpg");
    background-size: cover;


}



.form-container {
    width: 400px;
    background-color: white;
    padding: 10px;
    margin: 100px auto;
    box-shadow: 3px 3px 4px 4px indigo;
    border-radius: 6px;
    background-image: url("https://media.istockphoto.com/id/1412282189/photo/lock-network-technology-concept.webp?b=1&s=170667a&w=0&k=20&c=He6JoCWuNNp7I9vjOUzELTax-hDay-1BnO6VyFxu8Po=");
    background-size: cover;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid gray;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
}



.form-grp {
    padding: 10px;
    position: relative;
}


.form-grp .fa {
    position: absolute;
    top: 50%;
    right: 8%;
    display: none;
}



input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: darkslategray;
    color: white;
    font-weight: 900;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 3px 3px 4px cyan;
}

.form-grp label {
    color: white;
}


.form-container h3 {
    color: white;
    text-align: center;
    padding: 10px;
}

.fa-times {
    color: red;
}

.fa-check {
    color: green;
}


#error{
    text-align: center;
    color: red;
    padding: 10px;
}




.gf{
     font-size: xx-large;
     float: left;
     margin: -80px;
    padding-left: 90px;
}

.gf a{text-decoration: none; color: blue;}